header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .img {
  justify-content: center;
  align-items: center;
}
header .name {
  justify-content: center;
  align-items: center;
}
