header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D3D3D3;
  margin-top: 0;
}


.tweet-header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 40px;
  margin-top: 10px;
}

.profile-picture {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 5px;
display: flex;
}

.tweet-name {
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.name {
  background-color: lightgrey; /* Add background color to the header */
  text-align: center; /* Center header content */
}

