header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: column;
  align-items: center;
  background-color: grey;
  margin-top: 120px;
}

header .img {
  justify-content: center;
  align-items: center;
}
header .name {
  transform: translateY(-100%);
}
