nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0 auto; 
  top: 0;
  left: 0;
  z-index: 10;
}

nav .tweeter-logo {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  display: flex; /* Use flex container to control layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally within the container */
}

.fa-solid.fa-angles-down {
  text-align: center;
  color: green;
}

nav .new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex; /* Use flex container to control layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally within the container */
}

.nav-icon {
  margin-top: 5px; /* Add spacing between text and icon */
}
