#tweet-form {
  padding: 25px;
  padding-top: 40px;
  
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

#tweet-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #1da1f2;
  padding: 5px 10px;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #4056A1;
  font-family:'Bungee', cursive;
  color: white;
}

#tweet-button:hover {
  background-color: #37e207;
}
#tweet-counter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.exceeded-limit {
  color: red;
}

::placeholder {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.error {
  display: none;
  border: 3px solid red;
  transform: translateY(-100%);
}

.error div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}